@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Gray color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background: #e0e0e0; /* Light gray track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-corner {
  background: #fff; /* Optional: corner where two scrollbars meet */
}
